<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Residuos Sólidos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-body-secondary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sistema de Gestión de Residuos Sólidos</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="MenuNavegacion">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a href="/" class="nav-link">Inicio</a>
                    </li>

                    {% if user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Módulo Recolección
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/recoleccion">Recolección</a></li>
                            <li><a class="dropdown-item" href="/tipoRecoleccion">Tipo de recolección</a></li>
                            <li><a class="dropdown-item" href="/medidaRecoleccion">Medidas de recolección</a></li>
                            <li><a class="dropdown-item" href="/residuo">Residuo</a></li>
                            <li><a class="dropdown-item" href="/detalleIncentivo">Detalle incentivos</a></li>
                            <li><a class="dropdown-item" href="/tipoIncentivo">Tipo Incentivo</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Módulo Horario
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/horario">Horario</a></li>
                            <li><a class="dropdown-item" href="/ruta">Ruta</a></li>
                            <li><a class="dropdown-item" href="/zona">Zona</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Módulo Persona
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/ciudadano">Ciudadano</a></li>
                            <li><a class="dropdown-item" href="/tipoCiudadano">Tipo de ciudadano</a></li>
                            <li><a class="dropdown-item" href="/tipoDocumento">Tipo de documento</a></li>
                            <li><a class="dropdown-item" href="/personal">Personal</a></li>
                            <li><a class="dropdown-item" href="/tipoPersonal">Tipo de personal</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Módulo Logística
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/maquinaria">Maquinaria</a></li>
                            <li><a class="dropdown-item" href="/tipoMaquinaria">Tipo maquinaria</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Reportes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/auditoria">Auditoría</a></li>
                            <li><a class="dropdown-item" href="/maquinariaVigente">Maquinaria Vigente</a></li>
                            <!-- <li><a class="dropdown-item" href="/maquinariaSegunTipo">Maquinaria segun tipo</a></li> -->
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="/logout" class="nav-link"> Cerrar sesión</a>
                    </li>


                    {% else %}
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Registrarse</a>
                    </li>

                    <li class="nav-item">
                        <a href="/signin" class="nav-link">Identificarse</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <br>
    {% block content %}
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>




</html>