<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Residuos Sólidos</title>
    <!-- <link rel="stylesheet" href="{ % static 'main.css' % }"> -->
</head>

<body>

    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>

            {% if user.is_authenticated %}

            <li>
                <a href="/ciudadano">Ciudadano</a>
            </li>



            <li>
                <a href="/horario">Horario</a>
            </li>

            <li>
                <a href="/personal">Personal</a>
            </li>

            <li>
                <a href="/recoleccion">Recolección</a>
            </li>

            <li>
                <a href="/residuo">Residuo</a>
            </li>

            <li>
                <a href="/ruta">Ruta</a>
            </li>

            <li>
                <a href="/zona">Zona</a>
            </li>

            <li>
                <a href="/detalleIncentivo">Incentivo</a>
            </li>

            <li>
                <a href="/tipoDocumento">Tipo Documento</a>
            </li>

            <li>
                <a href="/maquinaria">Maquinaria</a>
            </li>

            <li>
                <a href="/logout">Cerrar sesión</a>
            </li>


            {% else %}
            <li>
                <a href="/signup">Registrarse</a>
            </li>
            <li>
                <a href="/signin">Identificarse</a>
            </li>

            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>