{% extends 'base.html' %}

{% block content %}
<h1>Listado de ciudadano</h1>



<ul>
    {% for ciudadano in ciudadanos %}

    <li>
        <a href="{% url 'ciudadanoDetail' ciudadano.id %}">
            <p>{{ciudadano.nombre}} {{ciudadano.apellido}}</p>
            <p>{{ciudadano.documento}}</p>
            <p>{{ciudadano.celular}}</p>
            <p>{{ciudadano.direccion}}</p>
            <p>{{ciudadano.estado}}</p>
            <p>{{ciudadano.idTipoDoc}}</p>
            <p>{{ciudadano.idTipoCiud}}</p>
        </a>         
    </li>
 
    {% endfor %}

</ul>

{% endblock %}