{% extends 'base.html' %}

{% block content %}

<main class="">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de ciudadanos</h1>

            <div>
                <a class="btn btn-success" href="/ciudadano/crear">Crear</a>
            </div>

            <div class="container d-flex justify-content-between">
                <form action="{% url 'buscarCiudadano' %}" class=" d-flex flex-row mb-3 form-inline my-2 my-lg-0 mr-4">
                    <p class="p-2">DNI: </p>
                    <input type="search" class="form-control  mr-sm-2" name="buscCiudadano"
                        placeholder="Ingrese DNI del ciudadano" aria-label="buscar">
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>

        </div>

    </div>
</main>

<body>
    <div class="container mt-4 table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo de documento</th>
                            <th>Nro. de documento</th>
                            <th>Celular</th>
                            <th>Dirección</th>
                            <th>Estado</th>
                            <th>Tipo de ciudadano</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ciudadano in ciudadanos %}
                        <tr>
                            <td class="col-md-2"><a
                                    href="{% url 'ciudadanoDetail' ciudadano.id %}">{{ciudadano.nombre}}
                                    {{ciudadano.apellido}}</a></td>
                            <td>{{ciudadano.idTipoDoc}}</td>
                            <td>{{ciudadano.documento}}</td>
                            <td>{{ciudadano.celular}}</td>
                            <td>{{ciudadano.direccion}}</td>
                            <td>{{ciudadano.estado}}</td>
                            <td>{{ciudadano.idTipoCiud}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

{% endblock %}