{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de ciudadanos</h1>

            <div class="container d-flex justify-content-between">
                <form action="{% url 'buscarCiudadano' %}" class=" d-flex flex-row mb-3 form-inline my-2 my-lg-0 mr-4">
                    <p class="p-2">DNI: </p>
                    <input type="search" class="form-control  mr-sm-2" name="buscCiudadano"
                        placeholder="Ingrese DNI del ciudadano" aria-label="buscar">
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>

            <ul class="list-group mt-4">
                {% for ciudadano in ciudadanos %}
                <a class="list-group-item" href="{% url 'ciudadanoDetail' ciudadano.id %}">
                    <p><strong>Nombre: </strong>{{ciudadano.nombre}} {{ciudadano.apellido}}</p>
                    <p><strong>Tipo de documento: </strong>{{ciudadano.idTipoDoc}}</p>
                    <p><strong>Nro. de documento: </strong>{{ciudadano.documento}}</p>
                    <p><strong>Celular: </strong>{{ciudadano.celular}}</p>
                    <p><strong>Dirección: </strong>{{ciudadano.direccion}}</p>
                    <p><strong>Estado: </strong>{{ciudadano.estado}}</p>
                    <p><strong>Tipo de ciudadano: </strong>{{ciudadano.idTipoCiud}}</p>
                </a>
                {% endfor %}

            </ul>

        </div>

    </div>
</main>

{% endblock %}