{% extends 'base.html' %}

{% block content %}


<main class="container">
 
    <div class="row">

        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Registrar tipo ciudadano</h1>
            {{error}}
            <form action="/tipoCiudadano/crear/" method="POST" class="card card-body">
                {% csrf_token %}

                {{form.as_p}}

                <button class="btn btn-success">
                    Guardar
                </button>
                <br>
                <a href="/tipoCiudadano/" class="btn btn-secondary" >Regresar</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}