{% extends 'base.html' %}

{% block content %}
<main class="container-fluid">

  <div class="row">

    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Listado de detalle de incentivos a ciudadanos</h1>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="d-flex justify-content-start mb-3">
              <a class="btn btn-success" href="/detalleIncentivo/crear">Crear</a>
            </div>
          </div>
          <div class="col-md-6">
            <form action="{% url 'buscarDetalleIncentivo' %}" class="form-inline my-2 my-lg-0">
              <div class="input-group">
                <input type="search" class="form-control" name="buscDetalleIncentivo"
                  placeholder="Buscar detalle incentivo" aria-label="buscar">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      

    </div>
  </div>
</main>

<body>
  <div class="container mt-4 table-responsive">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Tipo de incentivo</th>
              <th>Cantidad</th>
              <th>Recolección</th>
              <th>Ciudadano asignado</th>
            </tr>
          </thead>
          <tbody>
            {% for detalleIncentivo in detalleIncentivos %}
            <tr>
              <td><a href="{% url 'detalleIncentivoDetail' detalleIncentivo.id %}">{{ detalleIncentivo.idTipoIncentivo }}</a></td>
              <td>{{ detalleIncentivo.cantidad }}</td>
              <td>{{ detalleIncentivo.idRecoleccion }}</td>
              <td>{{ detalleIncentivo.idCiudadano }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>



{% endblock %}