{% extends 'base.html' %}


{% block content %}


<main class="container py-5">
  <section class="card card-body">

    {% if user.is_authenticated %}
    <p class="h5 text-end"><strong>Bienvenido: </strong>  {% if username %}{{ username }}{% else %}Invitado{% endif %}</p>
    {% endif %}

    <h1 class="display-3 text-center">Sistema para la Gestión de Residuos Sólidos</h1>
    <br>



    <p>El sistema de gestión de residuos sólidos que hemos desarrollado para la municipalidad de Chiclayo en
      Lambayeque, Perú, brinda información detallada sobre la recolección de residuos, incluyendo horarios, tipos
      de residuos, maquinaria utilizada y zonas. Esta herramienta permite a la municipalidad coordinar y
      planificar de manera efectiva la gestión de los residuos, lo que se traduce en una mejora de la calidad de
      vida de los habitantes de la ciudad. Además, el sistema también contribuye a la protección del medio
      ambiente al promover una gestión adecuada de los residuos sólidos, implementando programas de reciclaje y
      compostaje</p>

    <div class="text-center">

      {% if user.is_authenticated %}

      <a class="btn btn-primary" href="/recoleccion">
        Ir al listado de recolección
      </a>

      {% else %}

      <a class="btn btn-primary" href="/signin">
        Iniciar Sesión
      </a>
      {% endif %}

    </div>



  </section>


</main>

<div>
  <footer class="footer bg-dark fixed-bottom py-2">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-md-6">
          <p class="text-white">&copy; 2023 Sistema de Gestión de Residuos Sólidos</p>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
          <ul class="list-inline d-flex flex-column flex-md-row justify-content-md-end mb-0">
            <li class="list-inline-item me-md-3">
              <a href="/" class="text-white">Home</a>
            </li>
            <li class="list-inline-item me-md-3">
              <a href="#" class="text-white">Red Social 1</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white">Red Social 2</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

{% endblock %}