{% extends 'base.html' %}


{% block content %}
<h1>Home</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eum culpa aspernatur, debitis doloribus quae quidem, fugiat deserunt veniam temporibus quo vel minima ea repellendus porro voluptatum quia nisi ut.
Earum sapiente necessitatibus reprehenderit, qui consequatur possimus ab tempore sed pariatur aut accusantium dolores eveniet voluptate. Provident ipsam expedita voluptates unde accusamus ducimus, nesciunt dignissimos labore assumenda, sed similique fugit!
Ad optio accusantium, pariatur esse quasi culpa reprehenderit sit dolore ab? Nulla illo corrupti assumenda odit minima rem maxime praesentium explicabo similique! Provident temporibus architecto voluptas maxime, quasi vero distinctio?
Sapiente ad aperiam libero corrupti, dolorem commodi mollitia at labore. Assumenda dignissimos earum in itaque unde quis tenetur vero, est soluta corporis nesciunt aliquam deleniti sapiente quod? Unde, rerum reiciendis?
Quam repudiandae, optio praesentium pariatur similique dolorum maiores fugiat consequuntur iste? Numquam eum voluptatem alias dolores libero. Atque nihil maiores unde sapiente vitae magni assumenda illum odio? Ducimus, est architecto.</p>


{% endblock %}