{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de horarios</h1>

            <div>
                <a class="btn btn-success" href="/horario/crear">Crear</a>
            </div> 

            <div class="container d-flex justify-content-between">
                <form action="{% url 'buscarHorario' %}" class=" d-flex flex-row mb-3 form-inline my-2 my-lg-0 mr-4">
                    <p class="p-2">Hora *formato 24 horas: </p>
                    <input type="search" class="form-control  mr-sm-2" name="buscHorario"
                        placeholder="Buscar horario" aria-label="buscar">
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>

            <ul class="list-group mt-4">

                {% for horario in horarios %}

                <a class="list-group-item" href="{% url 'horarioDetail' horario.id %}">
                    <p><strong>Fecha:</strong> {{horario.fecha}}</p>
                    <p><strong>Hora:  </strong>{{horario.hora}}</p>
                    <p><strong>Estado: </strong>{{horario.estado}}</p>
                    <p><strong>Ruta: </strong>{{horario.idRuta}}</p>
                </a>
                {% endfor %}

            </ul>

        </div>

    </div>
</main>




{% endblock %}