{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de maquinaria</h1>
            <div>
                <a class="btn btn-success" href="/maquinaria/crear">Crear</a>
            </div>

            <div class="container d-flex justify-content-between">
                <form action="{% url 'buscarMaquinaria' %}" class=" d-flex flex-row mb-3 form-inline my-2 my-lg-0 mr-4">
                    <p class="p-2">Placa de la maquinaria: </p>
                    <input type="search" class="form-control  mr-sm-2" name="buscMaquinaria"
                        placeholder="Buscar maquinaria" aria-label="buscar">
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
 

        </div>
    </div>
</main>

<body>
    <div class="container mt-4 table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo de maquinaria</th>
                            <th>Placa</th>
                            <th>Carga neta</th>
                            <th>Carga útil</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for maquinaria in maquinarias %}
                        <tr>
                            <td><a href="{% url 'maquinariaDetail' maquinaria.id %}">{{maquinaria.nombre}}</a></td>
                            <td>{{maquinaria.idTipoMaqui}}</td>
                            <td>{{maquinaria.placa}}</td>
                            <td>{{maquinaria.cargaNeta}}</td>
                            <td>{{maquinaria.cargaUtil}}</td>
                            <td>{{maquinaria.estado}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

{% endblock %}