{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de maquinaria</h1>
            <div>
                <a class="btn btn-success" href="/maquinaria/crear">Crear</a>
            </div>

            <div class="container d-flex justify-content-between">
                <form action="{% url 'buscarMaquinaria' %}" class=" d-flex flex-row mb-3 form-inline my-2 my-lg-0 mr-4">
                    <p class="p-2">Placa de la maquinaria: </p>
                    <input type="search" class="form-control  mr-sm-2" name="buscMaquinaria"
                        placeholder="Buscar maquinaria" aria-label="buscar">
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
 

            <ul class="list-group mt-4">
                {% for maquinaria in maquinarias %}

                <a class="list-group-item" href="{% url 'maquinariaDetail' maquinaria.id %}">
                    <p><strong>Nombre: </strong>{{maquinaria.nombre}}</p>
                    <p><strong>Tipo de maquinaria: </strong>{{maquinaria.idTipoMaqui}}</p>
                    <p><strong>Placa: </strong>{{maquinaria.placa}}</p>
                    <p><strong>Carga neta: </strong>{{maquinaria.cargaNeta}}</p>
                    <p><strong>Carga útil: </strong>{{maquinaria.cargaUtil}}</p>
                    <p><strong>Estado: </strong>{{maquinaria.estado}}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}