{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de personal</h1>

            <div>
                <a class="btn btn-success" href="/personal/crear">Crear</a>
            </div>

            <div class="container d-flex justify-content-between">
                <form action="{% url 'buscarPersonal' %}" class=" d-flex flex-row mb-3 form-inline my-2 my-lg-0 mr-4">
                    <p class="p-2">DNI: </p>
                    <input type="search" class="form-control  mr-sm-2" name="buscPersonal" placeholder="Ingrese DNI del personal" aria-label="buscar">
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>

            <!-- <ul class="list-group mt-4">
                {% for personal in personals %}

                <a class="list-group-item" href="{% url 'personalDetail' personal.id %}">
                    <p><strong>Nombres completos: </strong>{{personal.nombre}} {{personal.apellido}}</p>
                    <p><strong>Tipo de documento: </strong>{{personal.idTipoDoc}}</p>
                    <p><strong>Nro. de documento: </strong>{{personal.documento}}</p>
                    <p><strong>Fecha de nacimiento: </strong>{{personal.fechaNacimiento}}</p>
                    <p><strong>Correo: </strong>{{personal.correo}}</p>
                    <p><strong>Celular: </strong>{{personal.celular}}</p>
                    <p><strong>Dirección: </strong>{{personal.direccion}}</p>
                    <p><strong>Tipo de personal: </strong>{{personal.idTipoPersonal}}</p>
                    <p><strong>Estado: </strong>{{personal.estado}}</p>
                </a>
                {% endfor %}
            </ul> -->
        </div>
    </div>
</main>



<body>
    <div class="container mt-4 table-responsive">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo de documento</th>
                            <th>Nro. de documento</th>
                            <th>Fecha de nacimiento</th>
                            <th>Correo</th>
                            <th>Celular</th>
                            <th>Dirección</th>
                            <th>Tipo de personal</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for personal in personals %}
                        <tr>
                            <td><a href="{% url 'personalDetail' personal.id %}">{{personal.nombre}} {{personal.apellido}}</a></td>
                            <td>{{personal.idTipoDoc}}</td>
                            <td>{{personal.documento}}</td>
                            <td>{{personal.fechaNacimiento}}</td>
                            <td>{{personal.correo}}</td>
                            <td>{{personal.celular}}</td>
                            <td>{{personal.direccion}}</td>
                            <td>{{personal.idTipoPersonal}}</td>
                            <td>{{personal.estado}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

{% endblock %}