{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de personal</h1>
            <ul class="list-group mt-4">
                {% for personal in personals %}

                <a class="list-group-item" href="{% url 'personalDetail' personal.id %}">
                    <p><strong>Nombre: </strong>{{personal.nombre}} {{personal.apellido}}</p>
                    <p><strong>Tipo de documento: </strong>{{personal.idTipoDoc}}</p>
                    <p><strong>Nro. de documento:</strong>{{personal.documento}}</p>
                    <p><strong>Fecha de nacimiento: </strong>{{personal.fechaNacimiento}}</p>
                    <p><strong>Correo: </strong>{{personal.correo}}</p>
                    <p><strong>Celular: </strong>{{personal.celular}}</p>
                    <p><strong>Dirección: </strong>{{personal.direccion}}</p>
                    <p><strong>Estado: </strong>{{personal.estado}}</p>
                    <p><strong>Tipo de personal: </strong>{{personal.idTipoPersonal}}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}