{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de recolección</h1>

            <div>
                <a class="btn btn-success" href="/recoleccion/crear">Crear</a>
            </div>
        </div>

    </div>

</main>

<body>

    <div class="container mt-4 table-responsive">

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th>Horario</th>
                            <th>Registrado por</th>
                            <th>Personal</th>
                            <th>Maquinaria</th>
                            <th>Residuo</th>
                            <th>Peso</th>
                            <th>Medida</th>
                            <th>Tipo de recoleccion</th>
                            <th>Observacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recoleccion in recoleccions %}
                        <tr>
                            <td><a href="{% url 'recoleccionDetail' recoleccion.id %}">{{ recoleccion.Horario_ID }}</a>
                            </td>
                            <td>{{ recoleccion.Usuario_ID }}</td>
                            <td>{{ recoleccion.Personal_ID }}</td>
                            <td>{{ recoleccion.Maquinaria_ID }}</td>
                            <td>{{ recoleccion.Residuo_ID }}</td>
                            <td>{{ recoleccion.peso }}</td>
                            <td>{{ recoleccion.medida }}</td>
                            <td>{{ recoleccion.TipoRecoleccion_ID }}</td>
                            <td>{{ recoleccion.observacion }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>



</body>

{% endblock %}