{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de recolección</h1>

            <ul class="list-group mt-4">
                {% for recoleccion in recoleccions %}

                <a class="list-group-item" href="{% url 'recoleccionDetail' recoleccion.id %}">

                    <header class="d-flex justify-content-between m-3">
                        <h3 class="fw-bold"> Horario: {{ recoleccion.Horario_ID }}</h3>
                        <p> <strong>Registrado por:</strong> {{ recoleccion.Usuario_ID }}</p>

                    </header>


                    <p> <strong>Personal:</strong> {{ recoleccion.Personal_ID }}</p>
                    <p> <strong>Maquinaria:</strong> {{ recoleccion.Maquinaria_ID }}</p>
                    <p> <strong>Residuo:</strong> {{ recoleccion.Residuo_ID }}</p>
                    <p> <strong>Tipo de recoleccion:</strong> {{ recoleccion.TipoRecoleccion_ID }}</p>
                    <p> <strong>Observacion:</strong> {{ recoleccion.observacion }}</p>

                </a>

                {% endfor %}

            </ul>
        </div>

    </div>




</main>

{% endblock %}