{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de residuos</h1> 

            <div class="row justify-content-center">
                <div class="col-sm-3 text-center">
                  <a class="btn btn-success" href="/residuo/crear">Crear</a>
                </div>
                <div class="col-sm-6 text-center">
                  <form action="{% url 'buscarResiduo' %}" class="mb-3 form-inline">
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1">Nombre del residuo:</span>
                      <input type="search" class="form-control" name="buscResiduo" placeholder="Buscar residuo" aria-label="buscar" aria-describedby="basic-addon1">
                      <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                  </form>
                </div>
                <div class="col-sm-3 text-center">
                </div>
              </div>
              

        </div>
    </div>
</main>

<body>
    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for residuo in residuos %}
                    <tr>
                        <td><a href="{% url 'residuoDetail' residuo.id %}">{{residuo.nombre}}</a></td>
                        <td>{{residuo.descripcion}}</td>
                        <td>{{residuo.estado}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>

{% endblock %}