{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de residuos</h1>
            <ul class="list-group mt-4">
                {% for residuo in residuos %}

                <a class="list-group-item" href="{% url 'residuoDetail' residuo.id %}">
                    <p><strong>Nombre: </strong>{{residuo.nombre}}</p>
                    <p><strong>Descripción: </strong>{{residuo.descripcion}}</p>
                    <p><strong>Estado: </strong> {{residuo.estado}}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>


{% endblock %}