{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de residuos</h1> 
            <div>
                <a class="btn btn-success" href="/residuo/crear">Crear</a>
            </div>

            <div class="container d-flex justify-content-between">
                <form action="{% url 'buscarResiduo' %}" class=" d-flex flex-row mb-3 form-inline my-2 my-lg-0 mr-4">
                    <p class="p-2">Nombre del residuo: </p>
                    <input type="search" class="form-control  mr-sm-2" name="buscResiduo"
                        placeholder="Buscar residuo" aria-label="buscar">
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>

            <ul class="list-group mt-4">
                {% for residuo in residuos %}

                <a class="list-group-item" href="{% url 'residuoDetail' residuo.id %}">
                    <p><strong>Nombre: </strong>{{residuo.nombre}}</p>
                    <p><strong>Descripción: </strong>{{residuo.descripcion}}</p>
                    <p><strong>Estado: </strong> {{residuo.estado}}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>


{% endblock %}