{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Listado de rutas</h1>

            <div class="container d-flex justify-content-between">
                <form action="{% url 'buscarRuta' %}" class=" d-flex flex-row mb-3 form-inline my-2 my-lg-0 mr-4">
                    <p class="p-2">Nombre de la ruta: </p>
                    <input type="search" class="form-control  mr-sm-2" name="buscRuta" placeholder="Buscar ruta"
                        aria-label="buscar">
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>


            <div>
                <a class="btn btn-success" href="/ruta/crear">Crear</a>
            </div>


            <ul class="list-group mt-4">
                {% for ruta in rutas %}

                <a class="list-group-item" href="{% url 'rutaDetail' ruta.id %}">
                    <p><strong>Nombre: </strong> {{ruta.nombre}}</p>
                    <p><strong>Lugar de inicio: </strong>{{ruta.lugarInicio}}</p>
                    <p><strong>Lugar de fin: </strong> {{ruta.lugarFin}}</p>
                    <p><strong>Zona: </strong>{{ruta.idZona}}</p>
                </a>
                {% endfor %}

            </ul>

        </div>

    </div>
</main>

<ul>
    {% endblock %}